{{ template "core/admin-panel" . }} {{ if .Form.IsSuccessful }}
<div class="cloud successful">
    Successfully updated account. <a href="/admin/">Back to admin portal</a>
</div>
{{ else if .Form.Error }}
<div class="cloud error">
    {{ .Form.Error}}
</div>
{{ end }}
<form action="/admin/account/create" method="post" class="use-children">
    <div class="cloud">
        {{ $username := .Form.Fields.username }}
        <label for="form-username">Username</label>
        <input id="form-username" type="text" name="username" value="{{$username.Get}}" required> {{ if $username.Error }}{{ $username.Error }}{{ end }}
    </div>
    <div class="cloud">
        {{ $password := .Form.Fields.password }}
        <label for="form-password">Password</label>
        <input id="form-password" type="password" name="password" required> {{ if $password.Error }}{{ $password.Error }}{{ end }}
    </div>
    <div class="cloud">
        {{ $pwdCfm := .Form.Fields.passwordConfirm }}
        <label for="form-passwordConfirm">Password Confirm</label>
        <input id="form-passwordConfirm" type="password" name="passwordConfirm" required> {{ if $pwdCfm.Error }}{{ $pwdCfm.Error }}{{ end }}
    </div>
    {{ if .Super }}
    <div class="cloud">
        {{ $super := .Form.Fields.super }}
        <input id="form-super" type="checkbox" name="super" value="true" {{if $super.Has "true"}} checked{{end}}>
        <label for="form-super">Super User</label> {{ if $super.Error }}{{ $super.Error }}{{ end }}
    </div>
    {{ end }}
    <button>Submit</button>
</form>