{{ template "core/admin-panel" . }}
{{ template "templates/form-result" . }}
<form action="/admin/account/create" method="post">
    <div class="cloud">
        {{ $username := .Form.Get "username" }}
        <label for="form-username">Username</label>
        <input id="form-username" type="text" name="username" value="{{$username.Value}}" required>
    </div>
    <div class="cloud">
        {{ $password := .Form.Get "password" }}
        <label for="form-password">Password</label>
        <input id="form-password" type="password" name="password" required>
    </div>
    <div class="cloud">
        {{ $pwdCfm := .Form.Get "password-confirm" }}
        <label for="form-password-confirm">Password Confirm</label>
        <input id="form-password-confirm" type="password" name="password-confirm" required>
    </div>
    {{ if .Super }}
    <div class="cloud">
        {{ $super := .Form.Get "super" }}
        <input id="form-super" type="checkbox" name="super" value="true" {{if $super.Value}} checked{{end}}>
        <label for="form-super">Super User</label>
    </div>
    {{ end }}
    <button>Submit</button>
</form>
