{{ template "core/admin-panel" . }} {{ if .Form.IsSuccessful }}
<div class="cloud successful">
    Successfully updated site information. <a href="/admin/">Back to admin portal</a>
</div>
{{ else if .Form.Error }}
<div class="cloud error">
    {{ .Form.Error}}
</div>
{{ end }}
<form action="/admin/site-info/manage" method="post" class="use-children">
    <div class="cloud">
        {{ $title := .Form.Fields.title }}
        <label for="form-title">Title</label>
        <input type="text" name="title" id="form-title" value="{{ $title.Get }}" required> {{ if $title.Error }}{{ $title.Error }}{{ end }}
    </div>
    <div class="cloud">
        {{ $owner := .Form.Fields.owner }}
        <label for="form-title">Owner</label>
        <input type="text" name="owner" id="form-owner" value="{{ $owner.Get }}" required> {{ if $owner.Error }}{{ $owner.Error }}{{ end }}
    </div>
    <div class="cloud">
        {{ $description := .Form.Fields.description }}
        <label for="form-description">Description</label>
        <textarea name="description" id="form-description" required>{{ $description.Get }}</textarea> {{ if $description.Error }}{{ $description.Error }}{{ end }}
    </div>
    <div class="cloud">
        {{ $link := .Form.Fields.link }}
        <label for="form-link">Link</label>
        <input type="text" name="link" id="form-link" value="{{ $link.Get }}" required> {{ if $link.Error }}{{ $link.Error }}{{ end }}
    </div>
    <div class="cloud">
        <button>Submit</button>
    </div>
</form>