<!DOCTYPE html>
<html lang="en">
{{template "core/head" .}}
<body>
        <div id="sky-easel"></div>
	<div class="cloud">
                <header>
        		{{template "core/navigation" .}}
                </header>
                <main>
                        <div class="cloud">
                                {{ .SiteInfo.Description }}
                        </div>
                        {{range .Articles}}
                        <article class="cloud">
                                <a href="/publications{{ .Path }}">
                                        <h1>{{ .Heading }}</h1>
                                        <span class="published">Published by {{ .CreatedBy }} <time datetime="{{ machineTime .CreatedOn}}">{{ humanTime .CreatedOn}}</time></span>
                                        <p>
                                                {{ .Abstract }}
                                        </p>
                                </a>
                        </article>
                        {{end}}
                </main>
	</div>
        <footer>
	        {{template "core/footer" .}}
        </footer>
</body>
</html>