<!DOCTYPE html>
<html lang="en">
{{template "core/head" .}}
<body>
        <div id="sky-easel"></div>
	<div class="cloud" style="position: relative">
                <header>
        		{{template "core/navigation" .}}
                </header>
                <main>
                        <div class="cloud">
                                Sometimes, having a lofty head is necessary. This is a site is dedicated to having an overview discussion to code, without worrying too much about implementation.
                                Of course, we will be touching the ground to get a better view of what may need to happen, but for the most part we will care about the overall look and feel.
                        </div>
                        <article class="cloud">
                                <a href="/blog/ttc-web-development">
                                        <h1>Blog: Things to consider - Web Development</h1>
                                        <span class="published">Published by Daniel J Dominguez <time datetime="2017-01-10T12:34">2017-1-10</time></span>
                                        <p>
                                                Brings up things to consider, like accessibility, progressive enchancements, and performance.
                                        </p>
                                </a>
                        </article>
                        <article class="cloud">
                                <a href="/projects/this-website">
                                        <h1>Project: This Website</h1>
                                        <span class="published">Published by Daniel J Dominguez <time datetime="2017-01-10T12:34">2017-1-10</time></span>
                                        <p>
                                                Built on the idea of progressive enchancements
                                        </p>
                                </a>
                        </article>
                        <article class="cloud">
                                <a href="/projects/swau-app">
                                        <h1>Project: SWAU App</h1>
                                        <span class="published">Published by Daniel J Dominguez <time datetime="2017-01-10T12:34">2017-1-10</time></span>
                                        <p>
                                                First major project
                                        </p>
                                </a>
                        </article>
                </main>
	</div>
        <footer>
	        {{template "core/footer" .}}
        </footer>
</body>
</html>