<!DOCTYPE html>
<html lang="en">
{{template "core/head" .}}
<body>
        <div id="sky-easel"></div>
	<div class="cloud" style="position: relative">
                <header>
        		{{template "core/navigation" .}}
                </header>
                <main>
                        <div class="cloud">
				<h1>404: Not Found</h1>
				<p>
					That url does not seem to exist.
				</p>
                        </div>
                </main>
	</div>
        <footer>
	        {{template "core/footer" .}}
        </footer>
</body>
</html>