<!DOCTYPE html>
<html lang="en">
{{template "core/head" .}}
<body>
        <div id="sky-easel"></div>
	<div class="cloud">
                <header>
        		{{template "core/navigation" .}}
                </header>
                <main>
			{{ range $type, $articles := .ArticleMap }}
				<a href="/publications/{{ $type }}"><h1>{{ asTitle $type }}</h1></a>
				{{range $articles}}
					{{ template "templates/article-heading-2" . }}
				{{end}}
			{{end}}
                </main>
	</div>
        <footer>
	        {{template "core/footer" .}}
        </footer>
</body>
</html>