body > .cloud {
    width: 80%;
    margin: 20px auto 0 auto;
    position: relative;
}

footer > .sand {
    height: 100px;
    position: relative;
    z-index: 5;
}

footer > .mountain {
    height: 150px;
    position: relative;
    z-index: 5;
}

main > .cloud, section > .cloud {
    margin: 1rem;
}