html, body {
    font-family: 'Raleway', sans-serif;
    color: $font-color;
    margin: 0;
}

body {
    background: $skyblue-color;
}

.sand {
    background-color: $sand-color;
    width: 100%;
}

.mountain {
    width: 100%;
}

.cloud {
    border-radius: 8px;
    background-color: rgba($cloud-color, .8);
    padding: 4%;
}

.published {
    font-size: .8rem;
}

a {
    text-decoration: underline;
    color: $link-color;
}

input[type="text"], input[type="password"], input[type="datetime-local"], textarea, select {
    border: $fire-color 1px solid;
    background-color: $cloud-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

select {
    background: linear-gradient(to bottom, $cloud-color 0%,darken($cloud-color, 4) 100%);
}

button, input[type="button"] {
    border: 0;
    color: $cloud-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $fire-color;
    transition-property: background-color;
    transition-duration: 0.2s;

    &:hover {
        background-color: lighten($fire-color, 5);
    }

    &:active {
        background-color: darken($fire-color, 5);
    }
}