<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="nm-balloon">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <embed src="/dist/svg/balloon.svg"></embed>
  </template>

  <script>
    Polymer({

      is: 'nm-balloon',

      properties: {
        color: {
          type: String,
          value: '#80F3A8',
          observer: "_changedColor"
        },
        height: {
          type: Number,
          value: null,
          observer: "_changedHeight"
        },
        width: {
          type: Number,
          value: null,
          observer: "_changedWidth"
        }
      },
      getSVGDocument: function () {
        return new Promise(function (resolve, reject) {
          var embed = this.$$("embed");
          var svg = embed.getSVGDocument();

          if(svg != null) {
            resolve(svg);
          } else {
            embed.addEventListener('load', function () {
              resolve(embed.getSVGDocument());
            });
            embed.addEventListener('error', function (e) {
              reject(e);
            });
          }
        }.bind(this));
      },
      _changedColor: function (nColor, oColor) {
        this.getSVGDocument()
          .then(function (svg) {
            var balloon = svg.getElementById("balloon");
            Bliss.style(balloon, {fill: nColor});
          }, function (e) {
            console.error(e)
          })
      },
      _changedHeight: function (nHeight, oHeight) {
          nHeight = (nHeight > 0) ? nHeight : 0;
          var embed = this.$$("embed");
          Bliss.style(embed, {width: null, height: nHeight + "px"});
      },
      _changedWidth: function (nWidth, oWidth) {
          nWidth = (nWidth > 0) ? nWidth : 0;
          var embed = this.$$("embed");
          Bliss.style(embed, {width: nWidth + "px", height: null});
      }

    });
  </script>
</dom-module>
