<div class="cloud" style="padding: 4px;">
    <div class="welcome-panel" style="margin: 16px;">
        <h1>Welcome {{ .User }}</h1>
        <form action="/rest/admin/unauthenticate" method="post">
            <button type="submit">Sign Out</button>
        </form>
    </div>
    <nav role="navigation">
        <a href="/admin/">Control Panel</a>
        <a href="/admin/article/">Articles</a>
        <a href="/admin/account/">Accounts</a>
        <a href="/admin/site-info/">Site Info</a>
    </nav>
</div>