article {
    &>a {
        color: initial;
        text-decoration: none;
        display: block;
        &:hover>h1,
        &:hover>h2 {
            text-decoration: underline;
        }
    }
    .published {
        font-size: .8em;
    }
}

section {
    margin: .5em;
}