body>.cloud {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
    position: relative;
    padding: 4%;
    @media(max-width: 800px) {
        & {
            padding: 5%;
            width: 90%;
        }
    }
}

footer>.sand {
    height: 100px;
    position: relative;
    z-index: 5;
}

footer>.mountain {
    height: 150px;
    position: relative;
    z-index: 5;
}