body > .cloud {
    @include cloud;

    width: 80%;
    max-width: 75em;
    margin: 2em auto 0 auto;
    position: relative;
    @media(max-width: 60em) {
        & {
            width: 90%;
        }
    }
}

#sky-easel {
    position: fixed;
    top: 0;
}
        
#sky-easel > .sun {
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 1s;
}

footer>.sand {
    height: 6em;
    position: relative;
    z-index: 5;
}

footer>.mountain {
    height: 9em;
    position: relative;
    z-index: 5;
}