form {
    .cloud {
        margin: 1rem;
        padding: 2%;
        &.error {
            background-color: rgba($fire-color, .8);
            font-weight: bold;
        }
        &.successful {
            background-color: rgba($green-color, .8);
            font-weight: bold;
        }
    }
}

label {
    vertical-align: top;
}

label+textarea {
    width: 96%;
    height: 5rem;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="datetime-local"],
textarea,
select {
    border: $fire-color 1px solid;
    background-color: $cloud-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

select {
    background: linear-gradient(to bottom, $cloud-color 0%, darken($cloud-color, 4) 100%);
}

button,
input[type="button"] {
    border: 0;
    color: $cloud-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $fire-color;
    transition-property: background-color;
    transition-duration: 0.2s;
    &:hover {
        background-color: lighten($fire-color, 5);
    }
    &:active {
        background-color: darken($fire-color, 5);
    }
}