form {
    *+& {
        margin-top: 1rem;
    }
    .cloud {
        padding: 2%;
        &.error {
            background-color: rgba($fire-color, .8);
            font-weight: bold;
        }
        &.successful {
            background-color: rgba($green-color, .8);
            font-weight: bold;
        }
    }
}

label {
    vertical-align: top;
}

label+textarea {
    width: 96%;
    height: 5rem;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="datetime-local"],
textarea,
select {
    border: $fire-color 1px solid;
    background-color: $cloud-color;
    background: linear-gradient(to bottom, darken($cloud-color, 4) 0%, $cloud-color 100%);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

select {
    background: linear-gradient(to bottom, $cloud-color 0%, darken($cloud-color, 4) 100%);
}

button,
input[type="button"] {
    border: 0;
    color: $cloud-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(to bottom, lighten($fire-color, 8) 0%, darken($fire-color, 8) 100%);
    &:hover {
        background: linear-gradient(to bottom, lighten($fire-color, 16) 0%, $fire-color 100%);
    }
    &:active {
        background: linear-gradient(to bottom, darken($fire-color, 16) 0%, $fire-color 100%);
    }
}