html, body {
    margin: 0;
}

body {
    background: $skyblue-color;
}

nm-cloud + nm-cloud {
    margin: 1rem;
}

.sand {
    background-color: $sand-color;
    width: 100%;
}

.mountain {
    background-color: $mountain-color;
    width: 100%;
}