html, body {
    margin: 0;
}

body {
    background: $skyblue-color;
}

.sand {
    background-color: $sand-color;
    width: 100%;
}

.mountain {
    background-color: $mountain-color;
    width: 100%;
}

.cloud {
    border-radius: 8px;
    background-color: rgba($cloud-color, .8);
    padding: 5%;
}

.published {
    font-size: .8rem;
}