body > .cloud {
    width: 80%;
    margin: 20px auto 0 auto;
}

footer > .sand {
    min-height: 100px;
    position: relative;
    z-index: 5;
}

footer > .mountain {
    height: 150px;
    position: relative;
    z-index: 5;
}

main > .cloud {
    margin: 1rem;
}

article > a {
    text-decoration: none;
    color: currentColor;
    display: block;
}

a:hover > h1 {
    text-decoration: underline;
}

article h1 {
    font-size: 2rem;
    margin: 0 0 10px 0;
}