body > nm-cloud {
    width: 80%;
    min-width: 400px;
    margin: 10px auto 0 auto;
}

footer > .sand {
    min-height: 100px;
    position: relative;
    z-index: 5;
}

footer > .mountain {
    height: 150px;
    position: relative;
    z-index: 5;
}

main > nm-cloud {
    margin: 1rem;
}