html,
body {
    font-family: 'Raleway', sans-serif;
    color: $font-color;
    margin: 0;
}

body {
    background: $skyblue-color;
}

.sand {
    background-color: $sand-color;
    width: 100%;
}

.mountain {
    width: 100%;
}

@mixin cloud {
    border-radius: 8px;
    background-color: rgba($cloud-color, .8);
    padding: 3rem;
    &+& {
        margin-top: 1rem;
    }
    @media(max-width: 500px) {
        & {
            padding: 1.5rem;
        }
    }
}

.cloud {
    @include cloud
}

a {
    text-decoration: underline;
    color: $link-color;
}