html,
body {
    font-family: 'Raleway', sans-serif;
    color: $font-color;
    margin: 0;
    @media(max-width: 500px) {
        & {
            font-size: 0.8rem;
        }
    }
}

body {
    background: $skyblue-color;
}

.sand {
    background-color: $sand-color;
    width: 100%;
}

.mountain {
    width: 100%;
}

.cloud {
    border-radius: 8px;
    background-color: rgba($cloud-color, .8);
    padding: 3rem;
    &+.cloud {
        margin-top: 1rem;
    }
    @media(max-width: 500px) {
        & {
            padding: 1rem;
        }
    }
}

a {
    text-decoration: underline;
    color: $link-color;
}