$skyblue-color: #97e1fb;
$cloud-color: #FFFFFF;
$mountain-color: #b77d43;
$sand-color: #E8B47E;
$sun-color: #FFF250;
$fire-color: #E55E3A;
$green-color: #3AE55E;
$link-color: #395C69;
$font-color: #444;